<%- contentFor('content') %> 
    <h1>Ooops! Something went wrong.</h1>   
    <hr>
    <%- include('./includes/errorMessage.ejs')%>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
