<%- contentFor('content') %>
  <h2>Hello "<%= currentUser.username %>" . <br> Welcome to "<samp><a href="/">Demo Restaurant Website</a></samp>" CMS</h2>
  <hr>
  <div class="container-fluid">
    <%- include('./includes/errorMessage.ejs')%>
    <h4>Models Current Status:</h4>
    <div class="row my-3">
      <div class="col">
        <a href="/users">1 Users</a>
        <br>
        <a href="#">2 Roles</a>
      </div>
      <div class="col">
        <a href="/menu/items">50 Menu Items</a>
        <br>
        <a href="/menu/categories">3 Categories For Menu</a>
      </div>
    </div>
  </div>
