<%- contentFor('content') %>
  <h2>Hello --User. <br> Welcome to "<samp><a href="#">Demo Restaurant Website</a></samp>" CMS</h2>
  <hr>
  <div class="container-fluid">
    <h4>Models Current Status:</h4>
    <div class="row my-3">
      <div class="col">
        <a href="/users">1 Users</a>
        <br>
        <a href="#">2 Roles</a>
      </div>
      <div class="col">
        <a href="/menu">50 Menu Items</a>
        <br>
        <a href="#">3 Categories For Menu</a>
      </div>
    </div>
  </div>
